@import 'base';
@import 'vendor/normalize';

.no-padding{
	padding: 0;
}

.remove{
	margin-left:15px;
	font-size:20px;
	color:lightcoral;

	&:hover{
		cursor:pointer;
	}
}

html, body, #root{
	height:100%;
}

#root{
 > div {
 	height:100%;
 }

 .page-container{
 	height:100%;
 	display:flex;
 	flex-direction:column;

 	.view-container{
 		flex:1;
 	}
 }
}

footer{
	div{
		margin:10px 0;
	}
}